body{
  font-family: 'Poppins', sans-serif;
  margin:0;
}

header{
  background:#6a11cb;
  color:white;
  text-align:center;
  padding:30px;
}

nav{
  background:#222;
  text-align:center;
  padding:10px;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
}

section{
  padding:20px;
  margin:20px;
  background:#f4f4f4;
  border-radius:10px;
}

img{
  width:100%;
  max-width:500px;
}

.slide{
  display:none;
}

.slide.active{
  display:block;
}

.faq-texto{
  max-height:0;
  overflow:hidden;
  transition:0.4s;
}