body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 244, 255);
    margin: 0;
    line-height: 1.6;
}

 
header {
    background-color: rgb(0, 68, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 20px;

}

nav {
    background-color: #4f5e34;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin:  0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #380ff1;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}

img {
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    background-color: #2c5034;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}